<!-- 傳統寫法 -->
<h3>選擇到{{selectData}}</h3>
<select [(ngModel)]="selectData">
  <option value="一">One</option>
  <option value="二">Two</option>
  <option value="三">Three</option>
</select>
<hr>
<!-- Angular Material -->
<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<router-outlet />